<section class="flex flex-row items-center gap-4 mt-4 p-2">
  <!-- Input de búsqueda -->
  <input
    type="text"
    class="input input-bordered w-72 py-2 px-4 text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 bg-gray-800 text-white placeholder-gray-400 transition-all duration-300"
    [placeholder]="placeholder()"
    autofocus
    #txtSearch
    (keyup.enter)="value.emit(txtSearch.value)"
    (keyup)="inputValue.set(txtSearch.value)"
    [value]="inputValue()"
  />

  <!-- Botón de búsqueda -->
  <button
    (click)="value.emit(txtSearch.value)"
    class="btn btn-primary px-6 py-2 rounded-full text-lg font-semibold shadow-lg hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-300 ease-in-out"
  >
    Buscar
  </button>
</section>
